<h3>Dashboard Component header</h3>
<button (click)="onFilter()">Filter</button>
<div class="container main">
	<div class="col-md-7">
		<app-map (mapEvent)="mapEvent($event)" [items]="items" [item]="item"></app-map>
	</div>
	
	<div class="col-md-5 featurette-image">
		<app-item-photo [item]="item" ></app-item-photo>
	</div>
	<app-item-search></app-item-search>

	

</div>
<div class="jumbotron gray-light">
	<app-item-detail (onPrev)="onPrev($event)" [item]="item" *ngIf="item" (onNext)="onNext($event)"></app-item-detail>
</div>