<h3>Dashboard Component header</h3>
<item-filter-modal></item-filter-modal>
<div class="container main">
	<div class="col-md-7">
		<app-map (mapEvent)="mapEvent($event)" [items]="items" [item]="item"></app-map>
	</div>
	
	<div class="col-md-5 featurette-image">
		<app-item-photo [item]="item" ></app-item-photo>
	</div>
	<div class="col-md-12" style="padding-bottom:5px;padding-top:5px">
		<div class="col-md-1 " style="padding-bottom:5px;padding-top:5px">
			<item-filter-modal></item-filter-modal>
		</div>
		<div class="col-md-8 " style="padding-bottom:5px;padding-top:5px">
			<app-item-search></app-item-search>
		</div>
	</div>

</div>
<div class="jumbotron gray-light">
	<app-item-detail (onPrev)="onPrev($event)" [item]="item" *ngIf="item" (onNext)="onNext($event)"></app-item-detail>
</div>