/* AppComponent's private CSS styles */
.appTitle h3 {
  margin-top: 20px;
  text-align: center;
  color: #092834; /*dark blue*/
  font-weight: 800!important;
}
.appTitle a {
  color: white;
  background-color: #66B032 /*dark green*/
}
.appTitle btn {
  background-color: #347B98;
  color: white;
}

h1 {
  font-size: 0.8em;
  color: #66B032;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #125169;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}


