<div *ngIf="item">
    
        <div id="detailsbox" >
            <h2>{{ item.name }}</h2>

            <div class="form-group row">
                <label for="id" class="col-sm-1 col-form-label">Id</label>
                <div class="col-sm-2">
                    <input type="text" readonly class="form-control-plaintext" value={{item.id}}>
                </div>
            </div>
            <div class="form-group row">
                <label for="name" class="col-sm-1 col-form-label">Name</label>
                <div class="col-sm-2">
                    <input class="form-control" [(ngModel)]="item.name">
                </div>
            </div>
            <div class="form-group row">
                <label for="itemStatus" class="col-sm-1 col-form-label">Status</label>
                <div class="col-sm-2">
                    <input class="form-control"  [(ngModel)]="item.itemStatus">
                </div>
            </div>
            <div class="form-group row">
                <label for="itemStatus" class="col-sm-1 col-form-label">Photo Status</label>
                <div class="col-sm-2">
                    <input class="form-control"  [(ngModel)]="item.imgStatus">
                </div>
            </div>
            
        </div>
        <button  class="goPrev" (click)="goPrev()">Previous</button>
        <button (click)="save()">Save</button>
        <button  class="goNext" (click)="goNext()">Next</button>
   
</div>