<div *ngIf="item" id="wrapper" class="container">
  
    <h1>{{ item.name }}</h1>

    <form id="form-work" class="" name="form-work" action="#">
      
      <fieldset>
      
        <div class="form-group">
          <div class="col-md-2">
            <label class="control-label" for="nome">Id</label>
            <span class="input-group-addon">{{item.id}}</span>
            </div>
          </div>

        <div class="form-group">
            <div class="col-md-3">
              <label class="control-label">Name</label>
              <input name="name" class="form-control" [(ngModel)]="item.name" type="text">
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-3">
              <label class="control-label" for="tel">Status</label>
              <div class="input-group">
                <input name="tel" class="form-control" [(ngModel)]="item.itemStatus" type="text">
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-3">
              <label class="control-label" for="mobile">Photo Status</label>
              <div class="input-group">
                <input name="mobile" class="form-control" [(ngModel)]="item.imgStatus" type="text">
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-3">
              <label class="control-label" for="email">Date Imported</label>
              <input name="email" class="form-control" [(ngModel)]="item.createdAt" type="text">
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-3">
              <label class="control-label" for="district">Other</label>
              <input name="district" class="form-control" placeholder="Botafogo" type="text">
            </div>
          </div>
        
          <div class="form-group">
            <div class="col-md-4">
                <button  class="btn btn-primary" (click)="goPrev()">Previous</button>
                <button (click)="save()">Save</button>
                <button  class="goNext" (click)="goNext()">Next</button>
            </div>
          </div>     
      </fieldset> 
    </form>
</div>


<!--div *ngIf="item">
    
        <div id="detailsbox" >
            <h2>{{ item.name }}</h2>

            <div class="form-group row">
                <label for="id" class="col-sm-1 col-form-label">Id</label>
                <div class="col-sm-2">
                    <input type="text" readonly class="form-control-plaintext" value={{item.id}}>
                </div>
            </div>
            <div class="form-group row">
                <label for="name" class="col-sm-1 col-form-label">Name</label>
                <div class="col-sm-2">
                    <input class="form-control" [(ngModel)]="item.name">
                </div>
            </div>
            <div class="form-group row">
                <label for="itemStatus" class="col-sm-1 col-form-label">Status</label>
                <div class="col-sm-2">
                    <input class="form-control"  [(ngModel)]="item.itemStatus">
                </div>
            </div>
            <div class="form-group row">
                <label for="itemStatus" class="col-sm-1 col-form-label">Photo Status</label>
                <div class="col-sm-2">
                    <input class="form-control"  [(ngModel)]="item.imgStatus">
                </div>
            </div>
            
        </div>
        <button  class="goPrev" (click)="goPrev()">Previous</button>
        <button (click)="save()">Save</button>
        <button  class="goNext" (click)="goNext()">Next</button>
   
</div-->