#button-group {
  text-align:center;
  margin-top: 25px;
}

#checkbox 
{
    position: relative;
    top: -1px;
}
#animvis {
  padding:0px 25px 0px 1px;
}

#datetimepicker {
  width: 120px;
  height: 22px;
  margin: 0 auto;
}
#behaviour {
  padding: 0px!important;
}

.row {
  max-height: 60px;
}
.selected-list
input[type="radio"]{
  margin: 0 0 0 10px;
  padding:0px 25px 0px 1px;
}

input[type=date] {
  margin: 0 auto;
  width: 100%;
  font-family: arial, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  background-color: lighten(#2f2f2f,40%);
  outline: none;
  border: 0;
  border-radius: 3px;
  padding: 0 3px;
  color: #fff;
  
}

.jumbotron {
    background-color: #F0F7D4;
    color: #347B98!important;
    padding: 0rem 2rem 1rem 3rem;
}


.form-group {
  margin-bottom: 0;
  text-align: left;
}

.btn-primary {
  background-color: #347B98; /* med green */
  border-color: #347B98;
  color: white;
}



label {
  margin-top: 1rem;
  margin-bottom: 0rem;
}
input {
  color: #347B98!important;
}

.input-xs, select.input-xs {
  height: 22px!important;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
  border-radius: 3px;
}
.datetime {
  min-width:120px!important;
}

.checkbox {
  line-height: 65px;
}