<div id="mapbox" style="margin-bottom: 30px;">
	<div class="row">
		<div >
			<!-- Control Form -->
			<div >

				<form class="form-horizontal">
					<button type="button" class="btn btn-default" (click)="getItems()">Refresh</button>
				</form>

			</div>

			<!-- Map -->
			<div >

				<div leaflet id="leafletbox"
					 [leafletOptions]="options"
					 [leafletBaseLayers]="baseLayers"
					 [leafletLayersControlOptions]="layersControlOptions"
					 (leafletMapReady)="onMapReady($event)"

					 [leafletMarkerCluster]="markerClusterData"
					 [leafletMarkerClusterOptions]="markerClusterOptions"
					 (leafletMarkerClusterReady)="markerClusterReady($event)">
				</div>

			</div>


		</div>
	</div>

</div>