<button type="btn btn-primary" class="btn btn-primary" (click)="openModalWithClass(template)">Import</button>

<ng-template #template>
	<div id="wrapper" class="container">
  
	  <h1>Import Photos</h1>

		<form id="form-work" class="" name="form-work" action="#">
	      
	      	<fieldset>
          	<!--div  id="image" class="mx-auto">
					 <img class="img-fluid" #abc id="image" src="assets/photos/IMG_1121.JPG" />
				</div>

				<div id="upload_button">
			    <label>
			      <input #folderInput
				type="file" (change)="folderPicked(folderInput.files)" webkitDirectory>
			      <span class="btn btn-danger">Upload Folder</span>

			    </label>
			  </div>
			  {{uploadCount}} Files Selected
			-->

          	<div id="upload_button">
			   
			      <button (click)="importNewFolder()" class="btn btn-danger btn-md center-block">Import New Folder</button>
			  </div> 
			
	        <!--
				<div id="upload_button">
			    <label>
			      <input #folderInput
				type="file" (change)="filePicked($event)"  >
			      <span class="btn btn-danger">Upload New Folder</span>

			    </label>
			  </div> 
			


	        div class="form-check">

	            <label class="form-ckeck-label" for="nome">
	            	<input class="form-check-input " type="radio"> All 
	            	<input class="form-check-input " type="radio"> Extent
	            </label>
	            
	        </div-->

	         <div class="row" style="display:block;margin-bottom: 10px !important;margin-top: 30px !important;">
			    <div class="col-md-12 text-center">
			        <button (click)="closeImport()" class="btn btn-primary btn-md center-block"  >Cancel</button>
			        <button (click)="updateMap()" class="btn btn-primary btn-md center-block">Import Directory</button>
			     </div>
			</div>
	             
	      </fieldset> 
	    </form>
	</div>

</ng-template>


